body {
  background: #0b061f;
  color: white;
  font-family: Arial;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background: #ff69b4;
}

.page {
  padding: 40px;
}

.card {
  width: 300px;
  margin: auto;
  padding: 20px;
  background: #201737;
  border-radius: 10px;
}

input, button {
  width: 100%;
  margin: 8px 0;
  padding: 10px;
}
