body {
  font-family: Arial;
  background: #0f172a;
  color: white;
}

.nav {
  padding: 15px;
  background: #1e293b;
  display: flex;
  justify-content: space-between;
}

.nav a {
  margin-left: 15px;
  color: pink;
}

.page {
  max-width: 500px;
  margin: 40px auto;
}

input, textarea, button {
  width: 100%;
  margin-top: 10px;
  padding: 10px;
}
